:root {
  --mainClr: #e2dcc8;
  --fontClr: #404040;
  --lineClr: #7a7878;
  --accClr: #b66449;
  --btnText: #e2dcc8;
  --bckClr: rgba(255, 251, 239, 0.5);
  --gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* Universal Selectors */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  background: var(--gradient);
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--accClr);
}

*:focus {
  outline: none;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 5px;
  background: var(--fontClr);
}

body::-webkit-scrollbar-thumb {
  background: var(--accClr);
}

main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  background: var(--bckClr);
}

.noise {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 150vw;
  height: 150vh;
  pointer-events: none;
  opacity: 0.08;
}

.noise-inner {
  width: 100%;
  height: 100%;
}

.btn {
  border: none;
  color: var(--btnText);
  cursor: pointer;
  display: inline-block;
  border-radius: 70px;
  background: var(--accClr);
  transition: background 0.3s;
  font-size: 0.9375vw;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  padding: 0.72917vw 3.125vw;
}

.btn:hover {
  background: var(--fontClr);
  color: var(--accClr);
}

.btn svg {
  max-width: 1.875vw;
  max-height: 0.83333vw;
  display: block;
  object-fit: contain;
  object-position: center;
}

.btn--arrow {
  padding: 1.35417vw 1.875vw;
}

.btn--invert {
  background: transparent;
  border: 1px solid var(--lineClr);
}

.small {
  font-size: 0.78125vw;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--fontClr);
}

.span {
  color: var(--accClr);
}

.h1 {
  font-weight: 500;
  font-size: 3.95833vw;
  line-height: 0.91;
  text-transform: uppercase;
  color: var(--fontClr);
}

.h1.span {
  color: var(--accClr);
}

.small {
  font-size: 0.98vw;
  line-height: 130%;
}

.input-file input {
  display: none;
}

.input-file span {
  cursor: pointer;
  text-decoration: underline;
}

/* Splash Screen */

.intro {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 243, 237);
  transition: 2s;
}

.logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  display: inline;
  bottom: -30px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* Header Navigation */

.header {
  display: flex;
  border-bottom: .5px solid var(--lineClr);
  width: 100%;
  height: 4.7vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 5;
}

.header-left {
  display: flex;
  border-right: .5px solid var(--lineClr);
  width: 37vw;
  flex-shrink: 0;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63vw;
  padding-right: 2vw;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4.5vw;
  border-right: .5px solid var(--lineClr);
}

.header-logo img {
  width: 80%;
}

.header-socials {
  padding: 2vw;
  display: flex;
  align-items: center;
}

.header-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  text-decoration: none;
  color: var(--fontClr);
  padding: 0 20px;
}

.header-socials a:hover {
  color: var(--accClr);
  transition: 0.3s ease;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu li {
  display: block;
  padding: 0 2vw;
  text-transform: uppercase;
}

.header-menu li a {
  font-size: 1.2vh;
  display: block;
  line-height: 140%;
  color: var(--fontClr);
  text-decoration: none;
  font-weight: 400;
}

.header-menu li a:hover {
  color: var(--accClr);
  transition: 0.3s ease;
}

.header-menu li a:active {
  color: var(--accClr);
}

.mode-toggle {
  text-align: right;
}

.mode-toggle a {
  font-size: 1.2vh;
  text-decoration: none;
  color: var(--fontClr);
  display: block;
}

.mode-toggle a:hover {
  color: var(--accClr);
  cursor: pointer;
}

/* Cursor */

.inner-cursor {
  position: fixed;
  left: 10px;
  width: .5vw;
  height: .5vw;
  transform: translate(-50%, -50%);
  background-color: var(--fontClr);
  /* mix-blend-mode: difference; */
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 2.5vw;
  height: 2.5vw;
  transition: width 0.5s, height 0.5s;
}

/* .outer-cursor {
  position: fixed;
  left: 10px;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.5s;
} */

/* Container with Side Scroll */

#container {
  position: absolute;
  display: flex;
  width: 100vw;
  height: calc(100vh - 4.7vw);
  bottom: 0;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

section{
  width: 100%;
  height: 100%;
  flex: none;
  scroll-snap-align: start;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  75% {opacity: 0;}
  100% { opacity: 1; }
}


.sticky-title.show {
  transform: translateX(0);
}

.sticky-title .number,
.sticky-title .title {
  display: block;
  transform: translateZ(0);
}

.sticky-title ul {
  text-transform: uppercase;
  width: 100vh;
  font-size: 1.97917vw;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4.27083vw;
  transform-origin: 0 100%;
  transform: rotate(-90deg) translateY(100%) translateX(4.63542vw);
  white-space: nowrap;
  z-index: 5;
}

.sticky-title ul li {
  position: absolute;
  padding: 0 6.66667vw 0 1.82292vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  align-items: center;
  color: var(--fontClr);
  z-index: 5;
}

.sticky-title {
  position: absolute;
  width: 4.5vw;
  height: 100%;
  left: 0;
  bottom: 0;
  border-right: .5px solid var(--lineClr);
  transform: translateX(0) !important;
  letter-spacing: 0.02em;
  z-index: 5;
}

.sticky-title ul {
  transform: rotate(-90deg) translateY(100%) translateX(0) !important;
}

.sticky-title .light {
  font-weight: 200;
}

.sticky-title .light span {
  font-weight: 500;
}




/* Home Section */

#home {
  animation: fadeIn 6s;
}

#home .content {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-left: 4.27083vw;
}

#home .content-left {
  width: 32.73vw;
  border-right: .5px solid var(--lineClr);
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1.14583vw 2.08333vw 1.14583vw 1.14583vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#home .sticky {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 4.5vw;
  border-right: .5px solid var(--lineClr);
}

#home .sticky-title p {
  text-orientation: sideways;
}

#home .content-right {
  width: 67.3vw;
  padding: 1.14583vw 1.14583vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#home .content-title > * {
  position: relative;
}

#home .content-description {
  margin-top: 2.5vw;
  max-width: 19.79167vw;
  position: relative;
}

.home-circles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#home .content-btn-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3.90625vw;
  position: relative;
  width: 150%;
}

#home .content-btn-label {
  margin-right: 1.40625vw;
}

#home i {
  font-size: 2.2vw;
  color: var(--accClr);
}

#home i:hover {
  color: var(--fontClr);
}

.home-circles-lines div {
  width: 1px;
  height: 0;
  background: rgba(230, 227, 217, 0.3);
  opacity: 0;
}

.home-circles-lines div:first-child,
.home-circles-lines div:last-child {
  opacity: 0;
}

/* Projects Section */

#projects .content {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-left: 4.27083vw;
}

#projects .content-left {
  width: 32.73vw;
  border-right: .5px solid var(--lineClr);
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1.14583vw 2.08333vw 1.14583vw 1.38vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#projects .content-right {
  width: 67.3vw;
  padding: 1.14583vw 1.14583vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#projects .content-menu {
  list-style: none;
  margin-top: 6.82292vw;
  margin-left: -1.14583vw;
  margin-right: -2.08333vw;
}

#projects .content-menu li {
  font-size: 1.14583vw;
  line-height: 160%;
  text-transform: uppercase;
  border-top: 1px solid var(--lineClr);
  border-bottom: 1px solid var(--lineClr);
  display: flex;
  position: relative;
  opacity: 0.5;
  z-index: 5;
}

#projects .content-menu li + li {
  margin-top: -1px;
}

#projects .content-menu li > span {
  color: inherit;
  padding: 0.46875vw 2.70833vw 0.46875vw 1.14583vw;
  display: block;
  width: 100%;
  position: relative;
}

#projects .content-menu li > a {
  color: var(--accClr);
  padding: 0.46875vw 2.70833vw 0.46875vw 1.14583vw;
  display: block;
  width: 100%;
  position: relative;
}

#projects .content-menu li:hover {
  opacity: 1;
}

#projects .content-menu{
  opacity: 1;
  color: var(--fontClr);
}

#projects .content-menu li.active a:not(.noicon)::after {
  content: '';
  position: absolute;
  right: 0.83333vw;
  top: 50%;
  transform: translateY(-50%);
  width: 0.98958vw;
  height: 0.98958vw;
  background: url(../img/arrow-link.svg) center center no-repeat;
  background-size: contain;
  pointer-events: none;
  user-select: none;
}

.projects-blocks {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.projects-block {
  height: auto;
  overflow: visible;
  display: none;
}

.projects-block + .projects-block {
  padding-top: 2vw;
}

.projects-block img {
  width: 100%;
  display: block;
  transition: transform 1s;
}

.projects-block a {
  display: block;
  width: 100%;
  overflow: hidden;
}

.projects-block a img:hover {
  transform: scale(1.05);
}

.projects-block.active {
  display: block;
}


/* Services Section */

#services .content {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-left: 4.27083vw;
}

#services .content-left {
  width: 32.73vw;
  border-right: .5px solid var(--lineClr);
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1.14583vw 2.08333vw 1.14583vw 1.14583vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#services .content-right {
  width: 67.3vw;
  padding: 1.14583vw 1.14583vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#services .services-list {
  margin-left: -1.14583vw;
  margin-right: -1.14583vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services .content-services {
  min-height: 16.19048vh;
  display: flex;
  align-items: center;
  padding: 2.09524vh 3.85417vw;
  overflow: hidden;
  position: relative;
}

#services .content-services + .content-services {
  border-top: 1px solid var(--lineClr);
}

#services .content-services-img {
  width: 4.42708vw;
  height: 4.42708vw;
  display: flex;
  align-items: center;
  flex-basis: 4.42708vw;
  flex-shrink: 0;
  margin-right: 3.80208vw;
}

#services .content-services-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

#services .content-services-title {
  width: 16.14583vw;
  margin-right: 3.02083vw;
}



#services .content-services-title p {
  font-size: 1.14583vw;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--fontClr);
  font-weight: 600;
}

#services .content-services-title .span {
  opacity: 0.5;
}

#services .content-services-text {
  width: 20.3125vw;
}

#services .content-subtitle {
  font-weight: 500;
  font-size: 2.08333vw;
  line-height: 120%;
  max-width: 26.77083vw;
  position: relative;
  color: var(--fontClr);
  margin-bottom: 100px;
}



/* Contact Section */

#contact .content {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-left: 4.27083vw;
}

#contact .content-left {
  width: 32.73vw;
  border-right: .5px solid var(--lineClr);
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1.14583vw 2.08333vw 1.14583vw 1.14583vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#contact .content-right {
  width: 67.3vw;
  padding: 1.14583vw 1.14583vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.contact-copyright {
  margin-top: auto;
  position: relative;
  font-weight: 200;
  color: var(--fontClr);
}

.contact-form {
  margin-top: 7.61905vh;
}

#contact .content-contact {
  display: flex;
  align-items: center;
}

#contact .content-brief {
  width: 16.71875vw;
  margin-right: 10.05208vw;
  position: relative;
}

#contact .content-brief-text {
  margin-top: 1.25vw;
  color: var(--fontClr);
}

#contact .content-brief-text label,
#contact .content-brief-text .span,
#contact .content-brief-text a {
  color: var(--accClr);
}
#contact .content-form {
  width: 25.78125vw;
  position: relative;
}

#contact .content-form-placeholder {
  height: 100%;
  width: 100%;
  font-size: 0.9375vw;
  line-height: 2.60417vw;
  opacity: 0.8;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
  display: block;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
}

#contact .content-form-input {
  height: 4.60417vw;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
}

#contact .content-form-input + .content-form-input {
  margin-top: 2vw;
}

#contact .content-form-input input {
  background: transparent;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5vw;
  margin: 0;
  outline: none;
  color: var(--fontClr);
  border: none;
  border-bottom: 0.5px solid var(--lineClr);
  font-size: 0.9375vw;
  line-height: 1.82292vw;
}

#contact .content-subtitle {
  font-weight: 500;
  font-size: 2.08333vw;
  line-height: 120%;
  max-width: 26.77083vw;
  position: relative;
  color: var(--fontClr);
}

#contact .content-form-input input.valid,
#contact .content-form-input input:focus {
  outline: none;
}

#contact .content-form-input input.valid + .content-form-placeholder,
#contact .content-form-input input:focus + .content-form-placeholder {
  font-size: 0.67708vw;
  line-height: 0.67708vw;
  top: -0.3125vw;
}

#contact .content-form-btn {
  margin-top: 4.0625vw;
}

/* Thank You Form */

#noise-menu {
  display: none;
}

.thank-you .header {
  transition: transform 0.5s linear;
  position: absolute;
  left: 0;
  top: 0;
}

.thank-you .header:before {
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #241f1f 0, #241f1f 32%, #4a4746 100%);
  transition: opacity 0.5s linear;
  opacity: 0;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you .header {
        background: transparent; } } */
.thank-you .header.active {
  position: fixed;
}

.thank-you .header.active:before {
  opacity: 1;
}

.thank-you-container {
  box-sizing: border-box;
  display: block;
  width: 57.8125vw;
  margin: 0 auto;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-container {
        width: calc(100% - 30px); } } */

.thank-you-big-banner {
  position: relative;
  width: 100%;
  height: 44.27083vw;
  background: center top/contain url(../images/blog-big_banner-bg.png) no-repeat;
  background-attachment: fixed;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-big-banner {
        height: 100vw;
        background: center top/cover url(../images/blog-big_banner-bg.png) no-repeat; } } */

.thank-you-big-banner .thank-you-container {
  height: 100%;
  display: flex;
  padding-bottom: 5.26042vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
        .thank-you-big_banner .thank-you-container {
          padding-bottom: 13.6vw; } } */

.thank-you-big-banner .thank-you-container .small {
  margin-top: auto;
  margin-bottom: 1.77083vw;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
          .thank-you-big_banner .thank-you-container .small {
            margin-bottom: 6.4vw; } } */

.thank-you-big-banner .thank-you-container .h1:last-child {
  margin-top: 0.52083vw;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
          .thank-you-big_banner .thank-you-container .h1:last-child {
            margin-top: 2.66667vw; } } */

.thank-you-content {
  padding: 13.22917vw 0 5.72917vw;
  box-sizing: border-box;
  /* border-bottom: 1px solid var(--lineClr); */
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-content {
        padding: 13.33333vw 0 13.33333vw; } } */

.thank-you-text {
  margin: 0 auto;
  width: 38.02083vw;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-text {
        width: 100%; } } */

.thank-you-text .small {
  line-height: 1.35417vw;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
        .thank-you-text .small {
          line-height: 6.93333vw; } } */

.thank-you-text .small + .small {
  margin-top: 1.5625vw;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
          .thank-you-text .small + .small {
            margin-top: 5.33333vw; } } */

.thank-you-h1 {
  display: block;
  margin-bottom: 3.33333vw;
  font-weight: 500;
  font-size: 2.34375vw;
  line-height: 2.86458vw;
  text-transform: uppercase;
  color: var(--mainClr);
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-h1 {
        margin-bottom: 9.06667vw;
        font-size: 6.66667vw;
        line-height: 14.66667vw; } } */

.thank-you-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-menu {
        display: none; } } */

.thank-you-menu li {
  display: block;
  padding: 0 1.66667vw;
  text-transform: uppercase;
}

.thank-you-menu li a {
  font-size: 0.72917vw;
  line-height: 140%;
  display: block;
}

.thank-you-menu li.active a {
  color: var(--accClr);
}

.thank-you-message {
  position: relative;
  width: 38.02083vw;
  padding: 2.13542vw 3.75vw 1.77083vw 6.66667vw;
  margin: 0 auto;
  border: 1px solid var(--lineClr);
  box-sizing: border-box;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
      .thank-you-message {
        width: 100%;
        padding: 5.6vw 8.53333vw 5.6vw 18.66667vw; } } */

.thank-you-message:before {
  content: '';
  position: absolute;
  left: 2.39583vw;
  top: 1.97917vw;
  display: block;
  width: 1.97917vw;
  height: 2.39583vw;
  background: url(../images/q.png) no-repeat;
  background-size: contain;
  pointer-events: none;
  background-position: center bottom;
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
        .thank-you-message:before {
          top: 3.2vw;
          left: 4vw;
          width: 10.13333vw;
          height: 12.26667vw; } } */

.thank-you-message-text {
  display: block;
  margin-bottom: 1.45833vw;
  font-weight: 300;
  font-size: 1.04167vw;
  line-height: 1.82292vw;
  color: var(--fontClr);
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
        .thank-you-message-text {
          margin-bottom: 4vw;
          font-size: 4.26667vw;
          line-height: 5.86667vw; } } */

.thank-you-message-name {
  font-weight: 600;
  margin-bottom: 0.52083vw;
  color: var(--fontClr);
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
        .thank-you-message-name {
          margin-bottom: 2.66667vw; } } */

.thank-you-message-title {
  opacity: 0.8;
  font-style: italic;
  color: var(--accClr);
}

.thank-you-title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  color: var(--accClr);
  margin-bottom: 50px;
}

.tybtnwrap {
  display: flex;
  width: 7rem;
  height: 3rem;
  margin: 30px auto;
}

.thank-you-button {
  display: inline-block;
  border: none;
  background-color: var(--accClr);
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--btnText);
  width: 7rem;
  height: 3rem;
}

.thank-you-button:hover {
  cursor: pointer;
  background-color: var(--fontClr);
  color: var(--accClr);
}

/* @media screen and (max-width: 768px) and (orientation: portrait) {
        .thank-you-button {
          border: none;
          background-color: #b66449;
          padding: 10px 30px;
          border-radius: 20px;
          margin: 50px auto 0 auto;
          text-decoration: none;
          color: #e2dcc8;
        }
      } */
